@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
	--font-mono: 'Poppins', monospace;
	--color-bg-main: #F4F7F9;
	--color-bg-dark: #24292C;
	--color-bg-secondary: white;
	--color-bg-card: #F8FBFC;
	--border-color: #CEE0E8;
	--accent-color-0: #00A6ED;
	--color-text: #0C1116;
	font-family: var(--font-mono);
	color: var(--color-text);
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-bg-main);
	background-size: 100vw 100vh;
}

a {
	color: var(--accent-color-0);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
